.GroupOverlay {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 35px;
}

.GroupOverlay:not(:last-child) {
  margin-bottom: 30px;
}

.Input {
  width: 50%;
  border-radius: 5px;
}

.Input:hover,
.Input:focus {
  outline: 2px solid #1ca185;
}

.Select {
  width: 30%;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.Select:hover,
.Select:focus {
  outline: 2px solid #1ca185;
}

.Option {
  font-weight: 600;
}
