.CurrencyItem {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.CurrencyItem:not(:first-child) {
  margin-left: 30px;
}

.CurrencyItem:hover,
.CurrencyItem:focus {
  color: #8be9d4;
}

.CurrencyIcon {
  fill: currentColor;
}

.CurrencyElement {
  margin-left: 5px;
}
