.CurrencyItem {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.CurrencyItem:not(:first-child) {
  margin-left: 30px;
}

.CurrencyItem:hover,
.CurrencyItem:focus {
  color: #24cca7;
}

.CurrencyElement {
  margin-left: 5px;
}
